<h4>Nuovo Alunno</h4>
<form class="form d-flex" action="/alunno" method="POST">
  <input class="form-control mr-3" type="text" name="nome" placeholder="Nome" />
  <input
    class="form-control mr-3"
    type="text"
    name="cognome"
    placeholder="Cognome"
  />
  <input
    class="form-control mr-2"
    type="email"
    name="mail"
    placeholder="E-Mail"
  />
  <input
    class="form-control mr-2"
    type="number"
    name="_id_classe"
    placeholder="Classe"
  />
  <button class="btn btn-primary btn-sm">Carica</button>
</form>
